body {
  font-family: 'Comic Sans MS', cursive;
  background: linear-gradient(to right, #ff7300, #ff00b3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.captcha-container .images img {
  width: 100px; /* Ширина изображения */
  height: 100px; /* Высота изображения */
  margin: 5px; /* Отступы между изображениями */
  border: 2px solid #ccc; /* Серая рамка вокруг изображения */
  border-radius: 8px; /* Скругленные углы */
  cursor: pointer; /* Курсор указателя при наведении */
  transition: transform 0.3s ease; /* Плавная анимация при наведении */
}

.captcha-container .images img:hover {
  transform: scale(1.1); /* Увеличение изображения при наведении */
  border-color: #0400ff; /* Изменение цвета рамки при наведении */
}

.captcha-container .images img.selected {
  border-color: #00ff00; /* Зеленая рамка для выбранных изображений */
  box-shadow: 0 0 10px #00ff00; /* Тень для выбранных изображений */
}

.slider-container {
  position: relative;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.slide img {
  width: 100%;
  height: auto; 
  max-height: 500px; 
  object-fit: contain; 
  border-bottom: 1px solid #ccc;
}


button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button:hover {
  background-color: #a200ff;
}

.captcha-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование элементов по горизонтали */
}

