body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #6f00ff, #00ffdd);
  padding: 20px;
}

#form-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  margin: auto;
}

h2, h3 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input, textarea {
  width: 100%;
  max-width: 100%; /* Устанавливаем максимальную ширину */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Учитываем границы и отступы в ширине */
  resize: none; /* Запрещаем изменение размера */
}

button {
  background-color: #23a842;
  color: white;
  border: 1px solid;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box; /* Учитываем границы и отступы в ширине */
}

button:hover {
  background-color: #00ff37;
}

.hidden {
  display: none;
}

#translated-output {
  margin-top: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.original {
  color: gray;
  text-decoration: line-through;
}

.translated {
  color: black;
  font-weight: bold;
}

.arrow {
  color: #333;
  font-weight: normal;
}
