body {
  font-family: 'Comic Sans MS', cursive;
  background: linear-gradient(to right, #ff7300, #ff00b3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.slider-container {
  position: relative;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.slide img {
  width: 100%;
  height: auto; 
  max-height: 500px; 
  object-fit: contain; 
  border-bottom: 1px solid #ccc;
}


button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button:hover {
  background-color: #a200ff;
}
